<div class="about-us">
	<div id="main_banner">
		<h1><span class="hidden">About Us -</span>  <span class="one_line">Professional Automation</span> and Mechanical Design Lab <span class="decor"></span></h1>
	</div>
	<div class="full_container">
		<span id="who-we-are"></span>
		<div id="quienes-somos" class="row">
			<div class="col-xs-12 col-md-6 light-blue_background">	
				<div class="wrapp">
					<h2 class="big_phrase"><strong>Evottek</strong> Automation Lab <span class="decor"></span></h2>
				</div>	
			</div>
			<div class="col-xs-12 col-md-6 icon_holder">
				<div class="wrapp">
					<p>
						<strong>Evottek</strong> is a professional automation and mechanical design lab at the service of the transformation industry 
					 </p>

					<p>Constituted by a team of specialized engineers with over fifteen years of experience, Evottek starts in 2010 as a professional lab dedicated to automation, mechanical design, and machining at the service of the transformation industry.</p>

					<p>In Evottek we offer precise solutions based on the analyses conducted by our experts, who always present the best answer to your needs with the guarantee and confidence of facilitating your industrial processes.</p>
				</div>
				<span class="icon lateral-shadow"></span>
			</div>
		</div><!-- .row -->	
		<div id="que-hacemos" class="row grid-holder">
			<span id="what-we-do"></span>
			<div class="col-xs-12 col-md-6 grid border-right rad-gradient-bottom-right">
				<div class="wrapp">
					<h2>What we do <em>Solutions that facilitate industrial processes</em></h2>
				</div>	
				<span class="decor"></span>
			</div>			
			<div class="col-xs-12 col-md-6 grid  rad-gradient-top-right">
				<div class="wrapp">
					<p>We are a company dedicated to seek solutions that facilitate industrial processes by elaborating or modifying specific machinery to improve production, reduce times, or simplify the operator´s work.</p>

					<p>In Evottek we provide a comprehensive service in which our engineers can design, program and assemble from an outside design, or develop the machining of projects as required by your company. </p>
				</div>
				<span class="decor"></span>
			</div>		
		</div><!-- .row -->
	</div><!-- .full_container -->
	<div id="experiencia-15">
		<p>More than 15 years of experience in Mechanical Design and Control Engineering <span class="decor"></span></p>
		<span class="icon right-blurry-arrow_xs"></span><span class="icon right-blurry-arrow"></span> 
	</div>
	<span id="mision-vision"></span><span id="mission-vision"></span>	
	<div class="full_container">
		<div id="vision" class="row light-blue_background">
			<div class="col-xs-12 col-md-6">
				<div class="wrapp">
					<h2>Vision</h2>
					<p>Our vision is to be positioned as one of the leading companies in the field based on the quality of our service, not only in the Baja California region, but to expand throughout the northeast of Mexico and southern United States to meet the automation needs in the industrial sector. </p>
				</div>	
			</div>
			<div class="col-xs-12 col-md-6 icon_holder">
				<img src="/index.fcgi/static/images/about-us_meassure.jpg" alt="To meet the automation needs in the industrial sector" />
				<span class="icon right-giant-arrow"></span>
			</div>	
		</div>	
		<div id="mision" class="row light-blue_background">
			<div class="col-xs-12 col-md-6">
				<img src="/index.fcgi/static/images/about-us_balloon.jpg" alt="Committed to our clients by always presenting the best and more viable solutions to their automation and machining needs." />
			</div>
			<div class="col-xs-12 col-md-6">	
				<div class="wrapp">
					<h2>Mission</h2>
					<p>Our mission is to be a responsible and honest company, committed to our clients by always presenting the best and more viable solutions to their automation and machining needs. In order to offer the best services, our equipment is constantly updated, with state-of-the-art technology and procedures.
					</p>
				</div>	
			</div>
		</div>
		<div id="bases" class="row">
			<div class="col-xs-12 col-md-6">	
				<div class="wrapp">
					<p class="big_phrase">The foundation of our actions guides our results</p>
				</div>	
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="wrapp">
					<p>The foundation of our actions guides our results: each of the members at Evottek is governed by honesty, the responsibility of our actions, our commitment to our clients, and the intended results, by celebrating teamwork as the centerpiece of our company´s optimum functioning.</p>
				</div>	
			</div>
		</div>
		<span class="clients"></span>
		<div id="clientes" class="row">
			<div class="col-xs-12 col-md-5">	
				<div class="wrapp">
					<h2>Clients</h2>
					<p>We are proud to collaborate in the automotive, medical, irrigation, and electronics industry, among which we can highlight the following companies:</p>
				</div>	
			</div>
			<div class="col-xs-12 col-md-7">
				<div class="wrapp">
					<ul id="light_client-list">
						<li id="cl-bose">Bose <span class="icon l-bose"></span></li>
						<li id="cl-autosplice">Autosplice <span class="icon l-autosplice"></span></li>
						<li id="cl-harman">HARMAN <span class="icon l-harman"></span></li>
						<li id="cl-autoliv">Autoliv <span class="icon l-autoliv"></span></li>
						<li id="cl-jbl">JBL by HARMAN <span class="icon l-jbl"></span></li>
						<li id="cl-rockwell">Rockwell Automation <span class="icon l-rockwell"></span></li>
						<li id="cl-power">Power PS Sonic <span class="icon l-power-pos-sonic"></span></li>
						<li id="cl-gst">GST Automotive Safety <span class="icon l-gst"></span></li>
						<li id="cl-hubbell">HUBBELL <span class="icon l-hubbell"></span></li>
						<li id="cl-bourns">BOURNS <span class="icon l-bourns"></span></li>
						<li id="cl-cst">CST - Custom Sensors and Technologies <span class="icon l-cst"></span></li>
					</ul>
				</div>	
			</div>
		</div>
	</div>			
</div>	
		