<div id="contact-panel">
	<div id="banner">	
	</div>
	<span id="ubicacion"></span><span id="forma-contacto"></span>
	<div id="contact-wrap">
		<div class="bck_blue">
			<div class="container">
				<h4 class="icon_holder">Contacto <span class="icon big-down-arrow"></span></h4>
			</div>	
		</div>	
		<div id="map-header-xs" class="hidden-md hidden-lg light-blue_background">
			<div class="wrapp">
				<div class="row">
					<div class="col-xs-6">
						<h5>Ubicación</h5>
					</div>
					<div class="col-xs-6">
						<a href="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d13460.25124760457!2d-116.99111735000001!3d32.49775030000001!3m2!1i1024!2i768!4f13.1!2m1!1sCalle+Villa+Charra+107+Colonia+Rinc%C3%B3n+Dorado+Tijuana%2C+Baja+California!5e0!3m2!1sen!2smx!4v1416507148965" class="icon_holder arrow-link light">Ver en Google Maps <span class="icon small_blue_arrow"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div id="contact-content" class="full_container">
			<div class="row">
				<div id="form-column" class="col-xs-12 col-md-4">
					<div class="wrapp">
						<form id="contactForm" name="contactForm"  role="form" novalidate>
							<div class="form-group">
								<span class="label label-danger" data-ng-show="submitted && contactForm.name.$error.required">Requerido!</span>
								<input type="text" name="name" ng-model="name" class="" required placeholder="Nombre*">
							</div>
							<div class="form-group">
								<input type="text" name="company" ng-model="company" class="" placeholder="Compañia">
							</div>
							<div class="form-group">
								<span class="label label-danger" data-ng-show="submitted && contactForm.email.$error.required">Requerido!</span>
								<span class="label label-danger" data-ng-show="submitted && contactForm.$error.email">¡Correo inválido!</span>
								<input type="email" name="email" ng-model="email" class="" required placeholder="Correo*">
							</div>

							<div class="form-group">
								<input type="phone" name="phone" ng-model="phone" class="" placeholder="Teléfono">
							</div>

							<div class="form-group">
								<div id="service_select_wrap">
									<select id="service_select" class="" ng-model="service">
										<option value="">Servicio de interés</option>
										<option value="admon_proyectos">Administración de Proyectos</option>
										<option value="ing_mecanica">Ingeniería Mecánica</option>
										<option value="serv_maquinado">Servicio de Maquinado</option>
										<option value="ing_sistemas_control">Ingeniería en Sistemas de Control</option>
										<option value="serv_ensamble">Servicio de ensamble</option>
									</select>
									<span class="icon select-down-arrow"></span>
								</div>
							</div>

							<div class="form-group">
								<span class="label label-danger" data-ng-show="submitted && contactForm.message.$error.required">Requerido!</span>
								<textarea name="message" rows="4" ng-model="message" class="" required placeholder="Mensaje*"></textarea>
							</div>

							<button ng-click="submit(contactForm)" class=" pull-right icon_holder arrow-link light">
								Enviar
								<span class="icon small_blue_arrow"></span>
							</button>
							<div id="messages" class="alert alert-danger" data-ng-show="messages" data-ng-bind="messages"></div>
						</form><!-- #contactForm -->
					</div><!-- .wrapp -->
				</div>
				<div id="address-column" class="col-xs-12 col-md-4 bck_standar_blue">
					<div class="wrapp">
						<address>
							Calle Villa Charra No 107<br>
							Colonia Rincón Dorado<br>
							Tijuana, Baja California<br>
							C.P. 22203
						</address>	
						<a href="tel: 016646821212" title="Llámanos" class="tel">01 (664) 682 1212</a>
						<br />
						<a id="call_btn" class="icon_holder" href="tel: 016646821212" title="Llamar">Llamar<span class="icon right-arrow-blue"></span></a>
					</div>
				</div>

				<div id="map-column" class="col-xs-12 col-md-4 light-blue_background hidden-xs hidden-sm">
					<div id="map-header">
						<div class="wrapp">
							<div class="row">
								<div class="col-xs-6">
									<h5>Ubicación</h5>
								</div>
								<div class="col-xs-6">
									<a href="https://www.google.com.mx/maps/place/32%C2%B031%2727.4%22N+116%C2%B053%2759.1%22W/@32.5242773,-116.89975,15z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0?hl=en" target="_blank" class="icon_holder arrow-link light">Ver en Google Maps <span class="icon small_blue_arrow"></span></a>
								</div>
							</div>
						</div>
					</div>
					<div id="map-content">
						<iframe src=" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13456.280007450125!2d-116.89974999999998!3d32.5242773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzLCsDMxJzI3LjQiTiAxMTbCsDUzJzU5LjEiVw!5e0!3m2!1sen!2smx!4v1417545129414" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
					</div>
				</div>
			</div>
		</div>	<!-- #contact-content.full_container -->
	</div>
</div><!-- #contact-panel -->
