<div class="solutions">
	<div id="main_banner">
		<h1><span class="hidden">Solutions -</span>  <span class="one_line">Automation and</span>mechanical design <span class="decor"></span></h1>
	</div>
	<div class="full_container">	
		<span id="industries"></span>
		<div id="industrias" class="row">
			<div class="col-xs-12 col-md-8 light-blue_background">
				<div class="wrapp">
					<h2><span class="one_line"> Industry transformation</span><em>solutions</em></h2>
					<p>At Evottek we have collaborated in different industrial sectors, such as:</p>

					<p>Main industires that we work for:</p>
				
				</div>	
			</div>
			<div class="col-xs-12 col-md-4 bck_standar_blue">
				<div class="wrapp">
					<p>Know more about our success stories </p>
					<a href="/solutions/success-stories" title="View Success stories" class="arrow-link">View Success stories <span class="icon arrow light"></span></a>
				</div>
			</div>
		</div><!-- .row -->
		<div id="automotriz" class="row">
			<div class="col-xs-12 col-md-4 xs-img_cell">
				<div class="wrapp text-center ">
					<h3 class="simple-arrow-holder">Automotive <span class="icon simple-arrow"></span></h3>
				</div>	
				<span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 light-blue_background">
				<div class="wrapp">
					<ul class="bullet_list">
						<li><span>Equipment design</span></li>
						<li><span>Machine updating</span></li>
						<li><span>Programming services, and maintenance.</span></li>
					</ul>	
				</div>		
			</div>
			<div id="solution-automotive" class="col-xs-12 col-md-4 img_cell">
				<div class="wrapp">
					<a href="/contact" title="Contact us" class="arrow-link dark">Contact <span class="icon arrow"></span></a>
				</div>	
				<img src="/index.fcgi/static/images/solutions_auto.jpg">
				 <span class="decor"></span>
			</div>
		</div><!-- .row -->	
		<div id="electronica" class="row">
			<div id="solution-electronic" class="col-xs-12 col-md-4 img_cell">
				<div class="wrapp">
					<a href="/contact" title="Contact us" class="arrow-link dark">Contact <span class="icon arrow"></span></a>
				</div>	
				<img src="/index.fcgi/static/images/solutions_electronics.jpg">
				 <span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 xs-img_cell">
				<div class="wrapp text-center">
					<h3 class="simple-arrow-holder">Electronic <span class="icon simple-arrow"></span></h3>
				</div>	
				<span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 light-blue_background">
				<div class="wrapp">
					<ul class="bullet_list">
						<li><span>Project Management,</span></li>
						<li><span>Creation of specific machinery for automation and the training of operators.</span></li>
					</ul>
				</div>		
			</div>
		</div><!-- .row -->
		<div id="medica" class="row">
			<div class="col-xs-12 col-md-4 xs-img_cell">
				<div class="wrapp text-center">
					<h3 class="simple-arrow-holder">Medical <span class="icon simple-arrow"></span></h3>
				</div>	
				<span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 light-blue_background">
				<div class="wrapp">
					<ul class="bullet_list">
						<li><span>Machine creation,</span></li>
						<li><span>Assembly, and controllers to optimize equipment´s functioning.</span></li>
					</ul>	
				</div>		
			</div>
			<div id="solution-medical" class="col-xs-12 col-md-4 img_cell">
				<div class="wrapp">
					<a href="/contact" title="Contact us" class="arrow-link dark">Contact <span class="icon arrow"></span></a>
				</div>	
				<img src="/index.fcgi/static/images/solutions_medical.jpg">
			 	<span class="decor"></span>
			</div>
		</div><!-- .row -->
	</div>
	<span id="success-stories"></span><span id="historias-exito"></span>
	<h2 class="bck_standar_blue"><span class="container">Success stories</span></h2>
	<div id="solutions-carousel" class="carousel slide full_container"  class="" data-ride="carousel">
		<div class="row">
			<div class="col-xs-12 col-md-4 light-blue_background">
				<ol id="success_menu" class="carousel-indicators">
					<li data-target="#solutions-carousel" data-slide-to="0" class="active first" ng-click="loadCarouselImages(0)">
						PCB - X, Y Cut system.<span class="icon medium_blue_arrow"></span>
					</li>
			   	 	<li data-target="#solutions-carousel" data-slide-to="1" ng-click="loadCarouselImages(1)">
			   	 		Pick & place for filter assembly - PCB<span class="icon medium_blue_arrow"></span>
			   	 	</li>
				    <li data-target="#solutions-carousel" data-slide-to="2" ng-click="loadCarouselImages(2)">
				    	Riveting of mechanical parts for assembly of safety belt choker<span class="icon medium_blue_arrow"></span>
				    </li>
				    <li data-target="#solutions-carousel" data-slide-to="3" ng-click="loadCarouselImages(3)">
				    	Bal-Tec Orbital riveting machine<span class="icon medium_blue_arrow"></span>
				    </li>
				    <li data-target="#solutions-carousel" data-slide-to="4" ng-click="loadCarouselImages(4)">
				    	High Pot testing machine model with vision system for terminal inspection<span class="icon medium_blue_arrow"></span>
				    </li>
			  	</ol>
			</div><!-- .col-xs-12.col-md-4 -->
			<div class="col-xs-12 col-md-8">
				<div class="row success-navigation">
					<div class="col-xs-12">
						<!-- Controls -->
						<a href="#solutions-carousel" class="left carousel-control"  role="button" data-slide="prev" ng-click="carruselNav('prev')"> 
							Previous
							<span class="icon carousel-prev"></span>
						</a>
						<a href="#solutions-carousel" class="right carousel-control"  role="button" data-slide="next" ng-click="carruselNav('next')">
							Next
							<span class="icon carousel-next"></span>
						</a>
					</div>
				</div>
				<!-- Wrapper for slides -->
			<div id="success_content" class="carousel-inner col-xs-12 col-md-8" role="listbox">
			    <div class="item active">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Project</span> Design of machinery for printed-circuit board cuts</h3>
					<h4>Client</h4>
					<p>Bourns de México S. de R.L. de C.V. 
					</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal"  ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-03.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-04.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(4)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-05.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problem</h4>
					<ul class="bullet_list">
						<li><span>
							 Design of machinery for printed-circuit board cuts, decreasing variation in the cuts as per client´s specifications of 45 and 50 pieces respectively. Friendly functionality for two different models. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solution</h4>
					<ul class="bullet_list">
						<li><span> With previous meetings with the Bourns´ team, where the needs, learned lessons and opportunities for improvement were specified, and with the collaboration of Festo Pneumatics, we managed to determine the type of technology required, based on similar and obsolete equipment. Both, collaboration and teamwork were key elements to choose the best solution to the problem of varying the cut of the printed circuit. Our experience and expertise in mechanical and electric design and assembly, as well as the support of Festo –motion control specialists-, we managed to guarantee the feasibility of the project. 
						</span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovation</h4>
					<ul class="bullet_list">
						<li><span>Updating obsolete parts. </span></li>
						<li><span>PLC controller unification with Festo motion control to facilitate spare parts.</span></li>
						<li><span>Improvements in mechanical precision, implementing a table to fix electric linear actuators and eliminate manual adjustments that used to take up to two days.</span></li>
						<li><span>The precision of the printed-circuit cut was improved. </span></li>
						<li><span>Reduction of the machine´s manufacturing time from one year to four months by manufacturing in Mexico instead of abroad.</span></li>
						<li><span>Codification and improvement of tooling quick change and on screen configuration.</span></li>
						<li><span>Festo Pneumatics Company adjusted the positioning using cutting coordinates by means of on screen recipes.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Machine features</h4>
					<ul class="bullet_list">
						<li><span>Festo PLC</span></li>
						<li><span>Codesys programming types</span></li>
						<li><span>Linear sliders</span></li>
						<li><span>Screen</span></li>
						<li><span>Controllers</span></li>
						<li><span>Vacuum</span></li>
						<li><span>T-Slotted profiles</span></li>
						<li><span>Hardwired emergency shutdown</span></li>
						<li><span>Safety edge controller for hinged guard</span></li>
						<li><span>Level 4 safety</span></li>
					</ul>
				</div>
			</div><!-- .row -->
		</div>
				</div>
			    <div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Project</span> 
					Pick & place for filter assembly - PCB</h3>
					<h4>Client</h4>
					<p>Bose Corporation, S.A. de C.V.</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-02.jpg" alt="" /></a></li><li>
							<a  href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-03.jpg" alt="" /></a></li><li>
							<a  href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-04.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problem</h4>
					<ul class="bullet_list">
						<li><span>
							Design of a machinery for the placement of two filters in a printed-circuit on the conveyor belt. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solution</h4>
					<ul class="bullet_list">
						<li><span>Taking a company´s obsolete station as example, we reviewed images and videos to conceptualize and develop the new machine. Through teamwork with engineers from the different areas of the process, we complemented the requirements of the developing machine, such as: production, maintenance, quality, safety, and engineering. The support from Festo Pneumatics was key in determining the type of pneumatic actuators to be used in the project. In the creation of this new machine, we considered the pneumatic and controller standards used by Bose for the development of new equipment. In addition, we based our work on the product´s specifications such as positioning, tolerances, measurements, among others, considering also the takt time.
						</span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovation</h4>
					<ul class="bullet_list">
						<li><span>Selection of brands for the components according to the building construction guide of the new equipment used by Bose, provided by local suppliers. </span></li>
						<li><span>Electromechanical system for filter dispensing by mechanical tension system moved by Stepper at a 0.2 mm precision, as specified in the design.</span></li>
						<li><span>Sequence change on screen.</span></li>
						<li><span>Creation of duplicate machine for sister plant in Malaysia.</span></li>
						<li><span>Eunil Ecc-600 conveyor coupling with IR filter dispenser. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Machine features</h4>
					<ul class="bullet_list">
						<li><span>Allen Bradley compact L23 PLC controller.</span></li>
						<li><span>Allen Bradley plus 600 touch screen.</span></li>
						<li><span>Festo, linear pneumatic actuators for IR filter positioning.</span></li>
						<li><span>Emergency shutdown and Master Safety Relay for level 4 guard (Hardwire).</span></li>
						<li><span>Stepper and Oriental Motor controller, OM-CRK/OM-EMP series.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>	
				<div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Project</span> Riveting of mechanical parts for assembly of safety belt choker</h3>
					<h4>Client</h4>
					<p>Autoliv Safety Technology de México S.A. de C.V.</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_terminales-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_terminales-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_terminales-03.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problem</h4>
					<ul class="bullet_list">
						<li><span>
							Riveting of mechanical parts for assembly of safety belt choker according to their standard specifications for reference equipment and machinery. Friendly functionality for three different models. 
						</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solution</h4>
					<ul class="bullet_list">
						<li><span>
							After a series of meetings to determine the parameters for riveting in accordance with the requirements of the product and the company´s needs, we considered the standards of the internal product´s process –pneumatic and controllers-, as well as producing 3D drawings with the company´s specifications. A riveting base design similar to 80&#37; was used to adapt the tooling to the new product, by programming the machine according to standards and adapting it to the development sequence process by the client´s specialists.
							 
						</span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovation</h4>
					<ul class="bullet_list">
						<li><span>First process for double riveting.</span></li>
						<li><span>Quick-change design for three models with on screen detection codification.</span></li>
						<li><span>Implementation of inverted and felt pad riveting detection, change in product´s engineering.</span></li>
						<li><span>Programming and configuration of serial Ethernet analog systems to guarantee the product´s specifications and procedures.</span></li>
						<li><span>Replacement of front hinged guard level 4 safety to reduce cycle time from 14 to 11.5 seconds.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Machine features</h4>
					<ul class="bullet_list">
						<li><span>Balluf linear codification (LVDT series) to measure the displacement of the press through analogue signal.</span></li>
						<li><span>20 Ton hydra-pneumatic cylinder press controlled by proportional SMS ITV valve, controlled by PLC analogue output.</span></li>
						<li><span>Futek load cell (FHS series) with capacity for 50,000 lb, connected to PLC analogue input.</span></li>
						<li><span>High precision digital contact meter (GT2 series), connect to a PL-EP1 Keyence Ethernet module.</span></li>
						<li><span>Keyence fixed scanner (SR-600 series), connected through PLC serial port.</span></li>
						<li><span>IV Keyence vision sensor, connected through Ethernet with PLC.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>
				<div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Project</span> Bal-Tec Orbital riveting machine</h3>
					<h4>Client</h4>
					<p>Autoliv Safety Technology de México S.A. de C.V.</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-03.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-04.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(4)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-05.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problem</h4>
					<ul class="bullet_list">
						<li><span>
							Updating of standards for orbital riveting machine, as well the addition of four new models implemented during production line down times. Friendly functionality for six different models. 
						</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solution</h4>
					<ul class="bullet_list">
						<li><span>Considering the pneumatic and controller standards used by Autoliv for the development of new equipment, we conducted a study in which electric, pneumatic, and mechanical references were identified. From here, a preliminary design was created along with the client to confirm lessons learned and opportunities for improvement. An implementation plan was also conducted in accordance with the production line availability. </span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovation</h4>
					<ul class="bullet_list">
						<li><span>Preparation of assembly prior to implementation to reduce times.</span></li>
						<li><span>PLC and screen programming before commissioning for debugging.</span></li>
						<li><span>Change in the methods used for measuring mechanical riveting height for a high precision digital contact meter.</span></li>
						<li><span>Adaptation of current nest into quick change, as well as the addition of two nests with quick changes and codification for new models and current production. </span></li>
						<li><span>Rewiring and labeling.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Machine features</h4>
					<ul class="bullet_list">
						<li><span>Current RN 331 Orbital riveter.</span></li>
						<li><span>High precision digital contact meter GT2 series, connected to a PL-EP1 Keyence Ethernet module.</span></li>
						<li><span>Allen Bradley plus 600 touch screen.</span></li>
						<li><span>Allen Bradley Compact Logic L32 PLC electric controller.</span></li>
						<li><span>SMC Pneumatic manifold, VVQ2000 series.</span></li>
						<li><span>Keyence SR-610 fixed scanner, discrete signal triggering and code sent by signal port.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>
				<div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Project</span> High Pot testing machine model with vision system for terminal inspection</h3>
					<h4>Client</h4>
					<p>Autosplice México S. de R.L. de C.V. </p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-03.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-04.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problem</h4>
					<ul class="bullet_list">
						<li><span>
							Implementation of a new High Pot testing machine model with vision system for terminal inspection. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solution</h4>
					<ul class="bullet_list">
						<li><span>We conducted a diagnosis where the requirements for the testing of the new model were revised and, along with the engineers responsible for the machine, we examined learned lessons and opportunities for improvement. After the installation of the machine, we conducted various tests to debug and implement improvements on the equipment. </span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovation</h4>
					<ul class="bullet_list">
						<li><span>We added a pneumatic two-position indexer to replace the pneumatic rotating cylinder and increase precision in rotation. </span></li>
						<li><span>Relocating of cameras to adjust definition to the new model.</span></li>
						<li><span>We added High Pot testing with pogo pins fixture.
						</span></li>
						<li><span>We used the station´s same electric and pneumatic controller. </span></li>
						<li><span>We manufactured nests for the new models and were fixed to eliminate movement during High Pot testing.</span></li>
						<li><span>Exchange of piece chute for a sliding concept.</span></li>
						<li><span>Rewiring and labeling.</span></li>
						<li><span>Programming for the sequence of new PLC D06-R model and Automation Direct C-More 6” touch screen.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Machine features</h4>
					<ul class="bullet_list">
						<li><span>Festo pneumatic indexer, DHTG series.</span></li>
						<li><span>Implementation of High Pot measures.</span></li>
						<li><span>Keyence vision system with two CV-200c cameras.</span></li>
						<li><span>CV-3000 controller</span></li>
						<li><span>PLC D06-R </span></li>
						<li><span>Automation Direct C-More 6” touch screen.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>
		
			</div><!-- #success_content .col-xs-12.col-md8 -->
			
			<div class="row success-navigation last">
				<div class="col-xs-12">
					<!-- Controls -->
					<a class="left carousel-control" href="#solutions-carousel" role="button" data-slide="prev" ng-click="carruselNav('prev')"> 
						Previous
						<span class="icon carousel-prev"></span>
					</a>
					<a class="right carousel-control" href="#solutions-carousel" role="button" data-slide="next" ng-click="carruselNav('next')">
						Next
						<span class="icon carousel-next"></span>
					</a>
				</div>
			</div>
		</div ><!-- .row -->
	</div>			
</div>
<div id="solutions-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="solutions-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<div id="solutions-img-carousel" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		  	<li ng-repeat="img in bigImages" data-target="#solutions-img-carousel" data-slide-to="{[{$index}]}" ng-class="{active: $index == bigImageIndex}" ng-click="setModalIndex($index)"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div ng-repeat="img in bigImages" ng-class="{active: $index == bigImageIndex}" class="item">
		     	<img ng-src="{[{img}]}">
		    </div>
		  </div><!-- .carousel-inner -->
		</div><!-- #solutions-img-carousel -->	
      </div><!-- .modal-body -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- #solutions-modal -->
<div id="mobile_solutions">
	<a class="left carousel-control" href="#solutions-carousel" role="button" data-slide="prev" ng-click="carruselNav('prev')"> 
		Previous
		<span class="icon carousel-prev"></span>
	</a>
	<a class="right carousel-control" href="#solutions-carousel" role="button" data-slide="next" ng-click="carruselNav('next')">
		Next
		<span class="icon carousel-next"></span>
	</a>
	<span id="mob-view-menu">Ver historias</span>
</div>	
