<div class="services">
	<div id="main_banner">
		<h1> Automatización y desarrollo <br />integral de maquinaria <span class="decor"></span></h1>
	</div>
	<div class="full_container">
		<div class="row blue_bkg">
			<div class="col-xs-12 col-sm-6">
				<div class="wrapp">
					<h2>Evottek<br />
						<span class="slim">Servicios</span>
						<span class="decor"></span>
					</h2>
				</div>
			</div>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg service_list">
				<div class="wrapp">
					<ul>
						<li>
							<a href="" title="Administración de Proyectos">
								<span class="icon adm"></span><span></span><span class="text">Administración de Proyectos</span>
							</a>
						</li>
						<li>
							<a href="" title="Ingeniería Mecánica">
								<span class="icon mec"></span><span></span><span class="text">Ingeniería Mecánica</span>
							</a>
						</li>
						<li>
							<a href="" title="Servicio de Maquinado">
								<span class="icon maq"></span><span></span><span class="text">Servicio de Maquinado</span>
							</a>
						</li>
						<li>
							<a href="" title="Ingeniería en Servicios de Control">
								<span class="icon con"></span><span></span><span class="text">Ingeniería en Servicios de Control</span>
							</a>
						</li>
						<li>
							<a href="" title="Servicio de Ensamble">
								<span class="icon ens"></span><span></span><span class="text">Servicio de Ensamble</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 white_bkg">
				<div class="wrapp">
					<p>Somos una compañía que busca tener flexibilidad y adaptabilidad al mercado, por lo que ofrecemos una amplia gama de servicios que van desde el desarrollo de una máquina completa, hasta el duplicado de una parte mecánica sin plano para fabricarse.</p>
					<p> En <strong>Evottek</strong> brindamos un servicio completo, nos especializamos en la automatización de estaciones de trabajo en la que interviene un operador, la experiencia y conocimientos de nuestro equipo los cuales nos avalan para trabajar exitosamente en líneas completamente automatizadas que requieran interactuar con diferentes procesos e inspecciones. </p>
					<p>A partir del estudio de su caso, nuestro interés es buscar los  materiales    ideales para su maquinaria, seguir procesos, cumplir con las normas industriales, lecciones aprendidas y  sugerencias de los usuarios, para obtener un producto que cumpla con los requerimientos de seguridad, calidad, productividad y sobre todo las expectativas de nuestros clientes.</p>
				</div>
			</div>
		</div>
		<!-- ADMINISTRACIÓN DE PROYECTOS -->
		<span id="administracion-proyectos"></span>
		<div class="row service_element adm_element">
			<a class="contact_button righter" href="/contacto" title="Contáctanos">Contáctanos<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs adm_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="adm_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Administración de Proyectos</h2>
							<p>Apoyamos a su empresa en cuanto a la elaboración de un proyecto viable, que simplifique sus procesos y aumente la productividad de su empresa. Una vez materializado el proyecto, es importante darle seguimiento para que su uso sea adecuado y hacer correcciones u observaciones necesarias para el buen funcionamiento de éste. </p>
							<p>Brindamos asesoría para talleres de desarrollo de líneas de producción e implementación  de maquinaria para facilitar la automatización y el uso correcto de los mismos.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="adm_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Seguimiento y simplificación de proyectos.</li>
								<li>Asesoría para talleres de diseño de líneas de producción.</li>
								<li>Asesoría en procedimientos para implementación de maquinaria.</li>
								<li>Estandarización de maquinaria.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- INGENIERÍA MECÁNICA -->
		<span id="ingenieria-mecanica"></span>
		<div class="row service_element ing_element">
			<a class="contact_button lefter" href="/contacto" title="Contáctanos">Contáctanos<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs ing_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="ing_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-offset-4">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Ingeniería Mecánica</h2>
							<p>Desarrollamos el producto a partir de las necesidades particulares de cada cliente, proceso en el que a partir de sus requerimientos elaboramos el diseño ideal –mecánico, eléctrico o neumático- basado en  las especificaciones de material, dimensiones, tratamiento y  tiempo de vida necesario de la máquina para su empresa. Dentro de nuestros servicios se encuentran modelado en 3D y planos mecánicos, actualizaciones y reconstrucción (refurbish) de maquinaria. </p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="ing_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Diseño Mecánico, Eléctrico y Neumático.</li>

								<li>Soporte e implementación de mejoras y cambios de ingeniería.</li>

								<li>Actualización y reutilización de equipo obsolteo.</li>

								<li>Documentación de maquinaría existente: Modelado 3D por computadora, planos eléctricos, mecánicos y listado de componentes.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SERVICIO DE MAQUINADO -->
		<span id="maquinado"></span>
		<div class="row service_element maq_element">
			<a class="contact_button righter" href="/contacto" title="Contáctanos">Contáctanos<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs maq_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="maq_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Servicio de Maquinado</h2>
							<p>Como una de nuestras ramas, nos dedicamos también a la fabricación y comercialización de piezas mecánicas y de precisión con maquinaria convencional y CNC;  tanto a proyectos propios como a proyectos externos. </p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="maq_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Maquinado Convencional y CNC.</li>
								<li>Diseño, documentación y fabricación de Fixturas y dados.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- INGENIERÍA EN SISTEMAS DE CONTROL -->
		<span id="ingenieria-sistemas-control"></span>
		<div class="row service_element sis_element">
			<a class="contact_button lefter" href="/contacto" title="Contáctanos">Contáctanos<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs sis_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="sis_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-offset-4">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Ingeniería en Sistemas de Control</h2>
							<p>Nuestros ingenieros definen los elementos de controles, eléctricos, neumáticos o hidráulicos necesarios para cada máquina, ofreciendo también  mantenimiento, actualización y reprogramación de equipos; Diseñamos a partir de sus requerimientos: diagramas eléctricos, seguridad, lista de materiales, lógica de programación e interface gráfica.</p>
							<p>Somos especialistas en programación de PLC’s, (Interfaces gráficas para operador (HMI)), servomotores, motores a pasos y múltiples tecnologías, encargándonos del diagnóstico y funcionalidad del equipo. </p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="sis_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Diseño eléctrico para sistemas nuevos.</li>

								<li>Redes y comunicación de control inter-planta.</li>

								<li>Diseño de sistemas de seguridad, auditorias y recomendaciones para equipos automatizados.</li>

								<li>Actualización de software en maquinaria.</li>

								<li>Programación de PLC y HMI para diagnósticos y operación de equipos.</li>

								<li>Construcción de paneles eléctricos.</li>

								<li>Instalación eficiente, arranque y depuración de equipos.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SERVICIO DE ENSAMBLAJE -->
		<span id="ensamble"></span>
		<div class="row service_element ens_element">
			<a class="contact_button righter" href="/contacto" title="Contáctanos">Contáctanos<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs ens_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="ens_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Servicio de Ensamblaje</h2>
							<p>A partir del diseño, estructuramos la máquina conforme a las especificaciones ya establecidas y ofrecemos póliza de servicio de mantenimiento de acuerdo a las necesidades de su equipo; también ofrecemos servicio de mano de obra a proyectos externos.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="ens_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Mano de obra en ensamble de maquinaria.</li>

								<li>Póliza de servicio de mantenimiento con flexibilidad de tiempo en horas, días, semanas, etc.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CÓMO TRABAJAMOS -->
		<span id="como-trabajamos"></span>
		<div class="row como_trabajamos hidden-xs">
			<div class="col-xs-12 title">
				<div class="wrapp">
					<h2>Cómo trabajamos<span></span></h2>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="wrapp">
					<h3>En Evottek ofrecemos Soluciones </h3>
				</div>
			</div>
			<div class="col-xs-7">
				<div class="wrapp big">
					<p>Después de hacer un análisis de su caso, nos  dedicamos a buscar resultados que cumplan tanto con las necesidades de nuestro cliente como sus requerimientos industriales. Nos comprometemos a dar seguimiento a nuestro trabajo para corroborar la funcionalidad y calidad de nuestros equipos.</p>
					<p>A partir de la definición de su problemática, nuestro equipo humano se encargará de desarrollar e implementar un plan que dé solución  y facilite sus procesos mediante los siguientes pasos:</p>
				</div>
			</div>
			<div class="col-xs-3 lightest_blue">
				<div class="wrapp">
					<span class="icon junta"></span>
					<h4>Junta de Información</h4>
					<p>Junta de información a detalle del proyecto: recopilación de datos, necesidades y propuestas para nuestro cliente.</p>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="wrapp">
					<span class="icon revision"></span>
					<h4>Revisión de Diseño</h4>
					<p>Fecha propuesta a partir de la junta de información, en la que nuestro equipo presenta el diseño de la máquina, detalles técnicos (medidas, material con el que se elaborará) y  en el que se pueden realizar ajustes o revisión de diseño dependiendo de sus necesidades.</p>
				</div>
			</div>
			<div class="col-xs-3 lightest_blue">
				<div class="wrapp">
					<span class="icon fabricacion"></span>
					<h4>Fabricación y Entrega</h4>
					<p>A partir de la aceptación del diseño, se propone una fecha de entrega y comenzamos con la elaboración del producto.</p>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="wrapp">
					<span class="icon depuracion"></span>
					<h4>Depuración y Seguimiento</h4>
					<p>Una vez elaborada la máquina, hacemos un análisis y depuración del sistema para asegurarnos de su buen funcionamiento. Nuestro trabajo no termina al hacer la entrega, en Evottek su satisfacción es de suma importancia y por esto damos seguimiento a la funcionalidad de  cada uno de nuestros trabajos.</p>
				</div>
			</div>
		</div>
	</div>
</div>
