<div class="home lang_es">
	<div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
		<ol class="carousel-indicators">
			<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#homeCarousel" data-slide-to="1"></li>
			<li data-target="#homeCarousel" data-slide-to="2"></li>
		</ol><!-- .carousel-indicators -->
		<div class="carousel-inner">
			<div id="sld_diseno" class="item first active">
				<div class="small_container">
					<p class="quotation icon_holder"><span class="icon start_quotation">"</span>
						
						We design <span class="one_line">smart processes to</span> improve your life 
						 
						<span class="icon end_quotation">"</span></p>
					<a href="/services" title="	Our services" class="icon_holder arrow-link light">Our services <span class="icon arrow light"></span></a>	
				</div>	<!-- .small_container -->
		  	</div>	<!-- #sld_diseno -->
			<div id="sld_fabricacion" class="item">
				<div class="small_container">
					<p class="quotation icon_holder"><span class="icon start_quotation">"</span>
						
						<span class="one_line">Manufacturing and </span><span class="one_line">commercialization</span>                        <span class="one_line">of mechanical and</span> precision parts
						
					<span class="icon end_quotation">"</span>
					</p>	
					<a href="/services" title="Our services" class="icon_holder arrow-link light">Machining <span class="icon arrow light"></span> <span class="icon gear-lg"></span></a>
				</div><!-- .small_container -->
			</div><!-- #sld_fabricacion -->
			<div id="sld_especialistas" class="item">
				<div class="small_container">
					<p class="quotation icon_holder"><span class="icon start_quotation">"</span>
						
						<span class="one_line">We specialize</span> in PLCs and HMI
						
						
						<span class="icon end_quotation">"</span></p>
					<a href="/services" title="Our services" class="icon_holder arrow-link light">	Control engineering <span class="icon arrow light"></span> <span class="icon chip-lg"></span></a>
				</div><!-- .small_container -->
			</div><!-- #sld_especialistas -->
		</div><!-- .carousel-inner -->
		<span class="decor"></span>
		<div class="small_container icon_holder">
			<span class="icon triple-down-arrow"></span>
		</div>	
	</div>	<!-- #homeCarousel -->	
	<div class="general_container">
		<h1 class="hidden">Evottek - automation lab</h1>
		<a href="/solutions" title="Automation and Mechanical Engineering Design Solutions" class="icon_holder down_arrow-link">
			
			Automation and Mechanical Engineering Design <em>Solutions</em>
			
			<span class="icon down-arrow"></span></a>
	</div><!-- .general_container -->
	<div class="full_container">
		<div class="row grid-holder ">
			<a href="/services/project-management" title="Project Management" class="col-xs-12 col-md-4 grid grad-bottom-left border-right border-bottom">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Project Management
						
						<span class="icon computer"></span></h3>
					<p>Projects that simplifies your processes and increases your company´s productivity</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
			</a><!-- .col-xs-12 -->	
			<a href="/services/mechanical-engineering" title="Mechanical engineering" class="col-xs-12 col-md-4 grid grad-top-left_bottom-right border-bottom">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Mechanical<br /> Engineering
						
						 <span class="icon mecanic-ring"></span></h3>
					<p>Mechanical, Electric and Pneumatic Design</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
				<span class="icon vertical-shadow"></span>
			</a><!-- .col-xs-12 -->	
			<a href="/services/machining" title="Machining	Service" class="col-xs-12 col-md-4 grid grad-top-right">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Machining
						 <span class="icon gear"></span></h3>
					<p>Manufacturing and commercialization of mechanical and precision parts</p>
					<span class="icon arrow light"></span>
				</div>
				<span class="decor"></span>
				<span class="icon vertical-shadow-centered"></span>
			</a><!-- .col-xs-12 -->	
		</div><!-- .row -->
		<div class="row grid-holder">	
			<a  href="/services/control-engineering" title="Control engineering" class="col-xs-12 col-md-4 grid grad-top-right border-right">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Control<br /> Engineering
						
						 <span class="icon chip"></span></h3>
					<p>We specialize in PLCs and HMI</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
			</a><!-- .col-xs-12 -->	
			<a href="/services/assembly" title="Assembly" class="col-xs-12 col-md-4 grid grad-bottom-right">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Assembly<br /> Service
						
					 	<span class="icon screw"></span></h3>
					<p>Machine Assembly and Manufacture</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
				<span class="icon vertical-shadow-centered"></span>
			</a><!-- .col-xs-12 -->	
			<div id="home_soluciones" class="col-xs-12 col-md-4 grid">
				<div class="wrapp">
					<h2><a href="/solutions" title="Solutions">Solutions</a></h2>
					<p>Industry Solutions:</p>
					<ul class="bullet_list black bold">
						<li><span>Automotive</span></li>
						<li><span>Electronic</span></li>
						<li><span>Medical</span></li>
						<li><span>among others...</span></li>
					</ul>

					<a href="/solutions" title="Know more about our solutions" class="icon_holder arrow-link">Know more <span class="icon arrow light"></span></a>
				</div><!-- .wrapp -->	
				<span class="icon vertical-shadow"></span>		
			</div><!-- #home_soluciones.col-xs-12 -->
			<span class="row-decor"></span>
		</div><!-- .row -->
		<div id="home_nosotros-clientes" class="row">
			<div class="col-xs-12 col-md-4 black_background">
				<div class="wrapp">	
					<h2><a href="/about-us" title="About Us">About Us</a></h2>
					<p>Constituted by a team of specialized engineers with over fifteen years of experience in automation, mechanical design, and machining.</p>

					<a href="/about-us" title="Know more about us" class="icon_holder arrow-link left">Know more about us <span class="icon arrow light"></span></a>
				</div><!-- .wrapp -->
			</div><!-- .col-xs-12 -->	
			<div class="col-xs-12 col-md-4 empty">
			</div><!-- .col-xs-12 -->
			<div id="clients-block" class="col-xs-12 col-md-4">
				<div class="wrapp">
					<h2><a href="/solutions/success-stories" title="Know more about our success stories">Clients</a></h2>

					<ul id="client-list">
						<li id="c-bose">Bose <span class="icon bose"></span></li>
						<li id="c-gst">GST Automotive Safety <span class="icon gst"></span></li>
						<li id="c-harman">HARMAN <span class="icon harman"></span></li>
						<li id="c-jbl">JBL by HARMAN <span class="icon jbl"></span></li>
						<li id="c-rockwell">Rockwell Automation <span class="icon rockwell"></span></li>
						<li id="c-power">Power PS Sonic <span class="icon power-pos-sonic"></span></li>
					</ul>
					<a href="/solutions/success-stories" title="Know more about our solutions" class="icon_holder arrow-link">Know more <span class="icon arrow light"></span></a>
				</div><!-- .wrapp -->	
			</div><!-- #clients-block.col-xs-12 -->	
			<span class="decor"></span>
		</div><!-- #home_nosotros-clientes -->	
	</div><!-- .full_container -->	
</div>	<!-- .home -->	
