<div class="services">
	<div id="main_banner">
		<h1> Automation and <br />Mechanical Design <span class="decor"></span></h1>
	</div>
	<div class="full_container">
		<div class="row blue_bkg">
			<div class="col-xs-12 col-sm-6">
				<div class="wrapp">
					<h2>Evottek<br />
						<span class="slim">Services</span>
						<span class="decor"></span>
					</h2>
				</div>
			</div>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg service_list">
				<div class="wrapp">
					<ul>
						<li>
							<a href="" title="Administración de Proyectos">
								<span class="icon adm"></span><span></span><span class="text">Project Management</span>
							</a>
						</li>
						<li>
							<a href="" title="Ingeniería Mecánica">
								<span class="icon mec"></span><span></span><span class="text">Mechanical engineering</span>
							</a>
						</li>
						<li>
							<a href="" title="Servicio de Maquinado">
								<span class="icon maq"></span><span></span><span class="text">Machining</span>
							</a>
						</li>
						<li>
							<a href="" title="Ingeniería en Servicios de Control">
								<span class="icon con"></span><span></span><span class="text">Control Engineering</span>
							</a>
						</li>
						<li>
							<a href="" title="Servicio de Ensamble">
								<span class="icon ens"></span><span></span><span class="text">Assembly</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 white_bkg">
				<div class="wrapp">
					<p>We are a company that seeks to be flexible and adaptable to market’s need, that is why we offer a wide variety of services ranging from the full development of a machine, to making a duplicate of a mechanical part without a manufacturing drawing.</p>
					<p> In <strong>Evottek</strong> we provide a comprehensive service, and we are specialized in the automation of workstations where an operator is involved, the experience and knowledge of our team endorse us to successfully work in fully automated lines that require interaction with different procedures and inspections. </p>
					<p>From the study of your particular case, our objective is to look for the materials that are ideal for your machinery, to follow procedures and to comply with industrial standards as well as user´s learned lessons and suggestions in order to obtain a product that is in compliance with the safety, quality and productivity requirements, but especially, one that meets our client´s expectations.</p>
				</div>
			</div>
		</div>
		<!-- ADMINISTRACIÓN DE PROYECTOS -->
		<span id="project-management"></span>
		<div class="row service_element adm_element">
			<a class="contact_button righter" href="/contact" title="Contact us">Contact us<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs adm_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="adm_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Project Management</h2>
							<p>We support your company in regards to the elaboration of a viable project that simplifies your processes and increases your company´s productivity. Once the project is materialized, it is important to provide follow-up to ensure its adequate operation and to carry out corrections or remarks necessary for its proper functioning.</p>
							<p>We provide consultancy for production line development workshops and implement machinery to facilitate their automation and proper use.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="adm_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Project Management.</li>
								<li>Consultancy for production line development workshops.</li>
								<li>Consultancy for machinery implementation.</li>
								<li>Machinery standarization.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!-- INGENIERÍA MECÁNICA -->
		<span id="mechanical-engineering"></span>
		<div class="row service_element ing_element">
			<a class="contact_button lefter" href="/contact" title="Contact us">Contact us<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs ing_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="ing_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-offset-4">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Mechanical engineering</h2>
							<p>We develop the product according to the specific needs of each client, a process in which based on their requirements, we create the ideal design –mechanical, electric, or pneumatic-, taking into consideration the specifications for material, measurements, treatment, and service life necessary for their company´s machine. Among our services we offer 3D modeling and mechanical drawings, updating, and machine refurbishments.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="ing_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Mechanical, Electric and Pneumatic Design.</li>

								<li>Implementation and support for engineering improvements.</li>

								<li>Updating and machine refurbishments.</li>

								<li>Existing machinery documentation: 3D modeling, electrical and mechanical drawings and components lists.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SERVICIO DE MAQUINADO -->
		<span id="machining"></span>
		<div class="row service_element maq_element">
			<a class="contact_button righter" href="/contact" title="Contact us">Contact us<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs maq_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="maq_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Machining</h2>
							<p>As one of our branches, we also manufacture and commercialize mechanical and precision parts with conventional machinery and CNC for external projects as well as for our own.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="maq_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Conventional Machining and CNC.</li>
								<li>Design, documentation and manufacturing of fixtures.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- INGENIERÍA EN SISTEMAS DE CONTROL -->
		<span id="control-engineering"></span>
		<div class="row service_element sis_element">
			<a class="contact_button lefter" href="/contact" title="Contact us">Contact us<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs sis_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="sis_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8 col-sm-offset-4">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Control engineering</h2>
							<p>Our engineers define the control, electric, pneumatic or hydraulic elements necessary for each machine, offering equipment maintenance, updating, and reprograming. We design based on your requirements, electric diagrams, safety, list of materials, programming logistics, and graphic interface.</p>
							<p>We specialize in PLCs (graphical operator interfaces [HMI]), servomotors, stepper motors, and multiple technologies, taking care of the diagnosis and functionality of the equipment.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="sis_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Electric design.</li>

								<li>Network and internal communications control.</li>

								<li>Security system design, audits and suggestions for automated equipments.</li>

								<li>Machinery software updating.</li>

								<li>PLC and HMI diagnosis and functionality.</li>

								<li>Electric panels manufacturing.</li>

								<li>Safe installation, boot up and equipment debugging.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- SERVICIO DE ENSAMBLAJE -->
		<span id="assembly"></span>
		<div class="row service_element ens_element">
			<a class="contact_button righter" href="/contact" title="Contact us">Contact us<span class="icon"></span></a>
			<div class="col-xs-12 hidden-sm hidden-md hidden-lg img_xs ens_img_xs">
				<span class="vertical-spacer">
				</span>
				<span class="ens_icon icon">
				</span>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="light_blue_bkg">
					<div class="wrapp">
						<span class="vertical-spacer">
						</span>
						<span class="valigned">
							<h2>Assembly</h2>
							<p>From the design, we structure the machine based on the agreed specifications and offer a maintenance service policy in accordance with the equipment´s needs. In addition, we offer manual labor services for external projects.</p>
						</span>
					</div>
				</div>
				<div class="row white_bkg">
					<div class="hidden-xs col-sm-6">
						<div class="wrapp centered">
							<span class="vertical-spacer">
							</span>
							<span class="ens_icon icon">
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="wrapp">
							<span class="vertical-spacer">
							</span>
							<ul class="valigned">
								<li>Manual labor for machinery assembly.</li>

								<li>Flexible maintenance service policy.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- CÓMO TRABAJAMOS -->
		<span id="how-we-work"></span>
		<div class="row como_trabajamos hidden-xs">
			<div class="col-xs-12 title">
				<div class="wrapp">
					<h2>How we work<span></span></h2>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="wrapp">
					<h3>We deliver Solutions </h3>
				</div>
			</div>
			<div class="col-xs-7">
				<div class="wrapp big">
					<p>In Evottek we offer solutions. After analyzing your case, we engage in seeking results that meet your needs as well as the industrial requirements. We are committed to provide follow-up to our work to guarantee the functionality and quality of our equipment.</p>
					<p>Once the problem has been defined, our staff will be in charge of developing and implementing a plan that solves and facilitates your procedures through the following steps:</p>
				</div>
			</div>
			<div class="col-xs-3 lightest_blue">
				<div class="wrapp">
					<span class="icon junta"></span>
					<h4>Information meeting</h4>
					<p>To have a project´s detailed information meeting: gathering data, needs and providing proposals for our client.</p>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="wrapp">
					<span class="icon revision"></span>
					<h4>Design review</h4>
					<p>Suggested date based on of information meeting in which our team will present the machine´s design, technical details (measurements, material for manufacturing) and make adjustments or review the design, depending on our client´s needs.</p>
				</div>
			</div>
			<div class="col-xs-3 lightest_blue">
				<div class="wrapp">
					<span class="icon fabricacion"></span>
					<h4>Manufacturing and delivery</h4>
					<p>Upon of the approval of the design, a delivery date is provided and we begin the manufacturing of the product.</p>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="wrapp">
					<span class="icon depuracion"></span>
					<h4>Debugging and follow-up</h4>
					<p>Once the machine is manufactured, we test and debug the system to ensure its proper functioning. Our job does not end at delivery, at Evottek, your satisfaction is of the outmost importance, that is why we provide follow-up service for each of our products.</p>
				</div>
			</div>
		</div>
	</div>
</div>
