<div class="home lang_es">
	<div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
		<ol class="carousel-indicators">
			<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#homeCarousel" data-slide-to="1"></li>
			<li data-target="#homeCarousel" data-slide-to="2"></li>
		</ol><!-- .carousel-indicators -->
		<div class="carousel-inner">
			<div id="sld_diseno" class="item first active">
				<div class="small_container">
					<p class="quotation icon_holder"><span class="icon start_quotation">"</span>
						
						Diseñamos procesos <span class="one_line">inteligentes para</span> mejorar tu vida 
						 
						<span class="icon end_quotation">"</span></p>
					<a href="/servicios" title="	Conoce nuestros servicios" class="icon_holder arrow-link light">Conoce nuestros servicios <span class="icon arrow light"></span></a>	
				</div>	<!-- .small_container -->
		  	</div>	<!-- #sld_diseno -->
			<div id="sld_fabricacion" class="item">
				<div class="small_container">
					<p class="quotation icon_holder"><span class="icon start_quotation">"</span>
						
						<span class="one_line">
						Fabricación de</span> piezas de precisión
						
					<span class="icon end_quotation">"</span>
					</p>	
					<a href="/servicios" title="Conoce nuestros servicios" class="icon_holder arrow-link light">Servicio de Maquinado <span class="icon arrow light"></span> <span class="icon gear-lg"></span></a>
				</div><!-- .small_container -->
			</div><!-- #sld_fabricacion -->
			<div id="sld_especialistas" class="item">
				<div class="small_container">
					<p class="quotation icon_holder"><span class="icon start_quotation">"</span>
						
						<span class="one_line">Especialistas en</span> programación PLC y HMI
						
						
						<span class="icon end_quotation">"</span></p>
					<a href="/servicios" title="Conoce nuestros servicios" class="icon_holder arrow-link light">	Ingeniería en Sistemas de Control <span class="icon arrow light"></span> <span class="icon chip-lg"></span></a>
				</div><!-- .small_container -->
			</div><!-- #sld_especialistas -->
		</div><!-- .carousel-inner -->
		<span class="decor"></span>
		<div class="small_container icon_holder">
			<span class="icon triple-down-arrow"></span>
		</div>	
	</div>	<!-- #homeCarousel -->	
	<div class="general_container">
		<h1 class="hidden">Evottek - automation lab</h1>
		<a href="/soluciones" title="Soluciones en Automatización y Desarrollo Integral de Maquinaria" class="icon_holder down_arrow-link">
			
			<em>Soluciones</em> en Automatización y Desarrollo Integral de Maquinaria 
			
			<span class="icon down-arrow"></span></a>
	</div><!-- .general_container -->
	<div class="full_container">
		<div class="row grid-holder ">
			<a href="/servicios/administracion-proyectos" title="Administración de proyectos" class="col-xs-12 col-md-4 grid grad-bottom-left border-right border-bottom">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Administración de<br /> proyectos
						
						<span class="icon computer"></span></h3>
					<p>Simplificamos procesos para mejorar la productividad de su empresa</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
			</a><!-- .col-xs-12 -->	
			<a href="/servicios/ingenieria-mecanica" title="Ingeniería Mecánica" class="col-xs-12 col-md-4 grid grad-top-left_bottom-right border-bottom">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Ingeniería<br /> Mecánica
						
						 <span class="icon mecanic-ring"></span></h3>
					<p>Diseño Mecánico y Neumático</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
				<span class="icon vertical-shadow"></span>
			</a><!-- .col-xs-12 -->	
			<a href="/servicios/maquinado" title="Servicio de	Maquinado" class="col-xs-12 col-md-4 grid grad-top-right">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Servicio de<br /> Maquinado
						 <span class="icon gear"></span></h3>
					<p>Fabricación y comercialización de piezas de precisión</p>
					<span class="icon arrow light"></span>
				</div>
				<span class="decor"></span>
				<span class="icon vertical-shadow-centered"></span>
			</a><!-- .col-xs-12 -->	
		</div><!-- .row -->
		<div class="row grid-holder">	
			<a  href="/servicios/ingenieria-sistemas-control" title="Ingeniería en Sistemas de Control" class="col-xs-12 col-md-4 grid grad-top-right border-right">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Ingeniería en<br /> Sistemas de Control
						
						 <span class="icon chip"></span></h3>
					<p>Somos especialistas en programación PLC  y HMI</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
			</a><!-- .col-xs-12 -->	
			<a href="/servicios/ensamble" title="Servicio de Ensamble" class="col-xs-12 col-md-4 grid grad-bottom-right">
				<div class="wrapp">
					<h3 class="icon_holder">
						
						Servicio de<br /> Ensamble
						
					 	<span class="icon screw"></span></h3>
					<p>Ensamble y fabricación de maquinas</p>
					<span class="icon arrow light"></span>
				</div><!-- .wrapp -->	
				<span class="decor"></span>
				<span class="icon vertical-shadow-centered"></span>
			</a><!-- .col-xs-12 -->	
			<div id="home_soluciones" class="col-xs-12 col-md-4 grid">
				<div class="wrapp">
					<h2><a href="/soluciones" title="Soluciones">Soluciones</a></h2>
					<p>Conoce a detalle algunas de nuestras soluciones para la industria:</p>
					<ul class="bullet_list black bold">
						<li><span>Automotriz</span></li>
						<li><span>Electrónica</span></li>
						<li><span>Médica</span></li>
						<li><span>entre otros...</span></li>
					</ul>

					<a href="/soluciones" title="Conoce más de nuestras soluciones" class="icon_holder arrow-link">Conoce más <span class="icon arrow light"></span></a>
				</div><!-- .wrapp -->	
				<span class="icon vertical-shadow"></span>		
			</div><!-- #home_soluciones.col-xs-12 -->
			<span class="row-decor"></span>
		</div><!-- .row -->
		<div id="home_nosotros-clientes" class="row">
			<div class="col-xs-12 col-md-4 black_background">
				<div class="wrapp">	
					<h2><a href="/nosotros" title="Nosotros">Nosotros</a></h2>
					<p>Contamos con técnicos experimentados en mantenimiento industrial que nos permite ofrecer las mejores soluciones integrales.</p>

					<a href="/nosotros" title="Conoce más sobre nosotros" class="icon_holder arrow-link left">Conócenos <span class="icon arrow light"></span></a>
				</div><!-- .wrapp -->
			</div><!-- .col-xs-12 -->	
			<div class="col-xs-12 col-md-4 empty">
			</div><!-- .col-xs-12 -->
			<div id="clients-block" class="col-xs-12 col-md-4">
				<div class="wrapp">
					<h2><a href="/soluciones/historias-exito" title="Conoce más de nuestras soluciones de éxito">Clientes</a></h2>

					<ul id="client-list">
						<li id="c-bose">Bose <span class="icon bose"></span></li>
						<li id="c-gst">GST Automotive Safety <span class="icon gst"></span></li>
						<li id="c-harman">HARMAN <span class="icon harman"></span></li>
						<li id="c-jbl">JBL by HARMAN <span class="icon jbl"></span></li>
						<li id="c-rockwell">Rockwell Automation <span class="icon rockwell"></span></li>
						<li id="c-power">Power PS Sonic <span class="icon power-pos-sonic"></span></li>
					</ul>
					<a href="/soluciones/historias-exito" title="Conoce más de nuestras soluciones" class="icon_holder arrow-link">Conoce más <span class="icon arrow light"></span></a>
				</div><!-- .wrapp -->	
			</div><!-- #clients-block.col-xs-12 -->	
			<span class="decor"></span>
		</div><!-- #home_nosotros-clientes -->	
	</div><!-- .full_container -->	
</div>	<!-- .home -->	
