<div class="solutions">
	<div id="main_banner">
		<h1><span class="hidden">Soluciones -</span>  <span class="one_line">Automatización y desarrollo</span>integral de maquinaria <span class="decor"></span></h1>
	</div>
	<div class="full_container">	
		<span id="industries"></span>
		<div id="industrias" class="row">
			<div class="col-xs-12 col-md-8 light-blue_background">
				<div class="wrapp">
					<h2><span class="one_line"> <em>Soluciones</em> para</span> transformar la industria</h2>
					<p>En Evottek hemos colaborado con empresas de diversos giros,  proporcionando soluciones especializadas en distintos rubros industriales.</p>

					<p>Estas son las principales industrias para las que trabajamos:</p>
				
				</div>	
			</div>
			<div class="col-xs-12 col-md-4 bck_standar_blue">
				<div class="wrapp">
					<p>Conoce algunas de nuestras soluciones para la industria </p>
					<a href="/soluciones/historias-exito" title="Ver Historias de Éxito" class="arrow-link">Ver Historias de Éxito <span class="icon arrow light"></span></a>
				</div>
			</div>
		</div><!-- .row -->
		<div id="automotriz" class="row">
			<div class="col-xs-12 col-md-4 xs-img_cell">
				<div class="wrapp text-center ">
					<h3 class="simple-arrow-holder">Automotriz <span class="icon simple-arrow"></span></h3>
				</div>	
				<span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 light-blue_background">
				<div class="wrapp">
					<ul class="bullet_list">
						<li><span>Diseño de equipo</span></li>
						<li><span>Actualización de maquinaria</span></li>
						<li><span>Servicios de programación y mantenimiento.</span></li>
					</ul>	
				</div>		
			</div>
			<div id="solution-automotive" class="col-xs-12 col-md-4 img_cell">
				<div class="wrapp">
					<a href="/contacto" title="Contáctanos" class="arrow-link dark">Contacto <span class="icon arrow"></span></a>
				</div>	
				<img src="/index.fcgi/static/images/solutions_auto.jpg">
				 <span class="decor"></span>
			</div>
		</div><!-- .row -->	
		<div id="electronica" class="row">
			<div id="solution-electronic" class="col-xs-12 col-md-4 img_cell">
				<div class="wrapp">
					<a href="/contacto" title="Contáctanos" class="arrow-link dark">Contacto <span class="icon arrow"></span></a>
				</div>	
				<img src="/index.fcgi/static/images/solutions_electronics.jpg">
				 <span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 xs-img_cell">
				<div class="wrapp text-center">
					<h3 class="simple-arrow-holder">Electrónica <span class="icon simple-arrow"></span></h3>
				</div>	
				<span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 light-blue_background">
				<div class="wrapp">
					<ul class="bullet_list">
						<li><span>Administración de proyecto,</span></li>
						<li><span>Elaboración de maquinaria específica para la automatización y capacitación de operadores.</span></li>
					</ul>
				</div>		
			</div>
		</div><!-- .row -->
		<div id="medica" class="row">
			<div class="col-xs-12 col-md-4 xs-img_cell">
				<div class="wrapp text-center">
					<h3 class="simple-arrow-holder">Médica <span class="icon simple-arrow"></span></h3>
				</div>	
				<span class="decor"></span>
			</div>
			<div class="col-xs-12 col-md-4 light-blue_background">
				<div class="wrapp">
					<ul class="bullet_list">
						<li><span>Elaboración de maquinado,</span></li>
						<li><span>Ensamble y controles para optimizar la funcionalidad</span></li>
					</ul>	
				</div>		
			</div>
			<div id="solution-medical" class="col-xs-12 col-md-4 img_cell">
				<div class="wrapp">
					<a href="/contacto" title="Contáctanos" class="arrow-link dark">Contacto <span class="icon arrow"></span></a>
				</div>	
				<img src="/index.fcgi/static/images/solutions_medical.jpg">
			 	<span class="decor"></span>
			</div>
		</div><!-- .row -->
	</div>
	<span id="success-stories"></span><span id="historias-exito"></span>
	<h2 class="bck_standar_blue"><span class="container">Historias de Éxito</span></h2>
	<div id="solutions-carousel" class="carousel slide full_container"  class="" data-ride="carousel">
		<div class="row">
			<div class="col-xs-12 col-md-4 light-blue_background">
				<ol id="success_menu" class="carousel-indicators">
					<li data-target="#solutions-carousel" data-slide-to="0" class="active first" ng-click="loadCarouselImages(0)">
						PCB - Sistema de corte X,Y.<span class="icon medium_blue_arrow"></span>
					</li>
			   	 	<li data-target="#solutions-carousel" data-slide-to="1" ng-click="loadCarouselImages(1)">
			   	 		Pick & place para ensamble de filtros en PCB<span class="icon medium_blue_arrow"></span>
			   	 	</li>
				    <li data-target="#solutions-carousel" data-slide-to="2" ng-click="loadCarouselImages(2)">
				    	Remachadora de terminales (mejora de equipo)<span class="icon medium_blue_arrow"></span>
				    </li>
				    <li data-target="#solutions-carousel" data-slide-to="3" ng-click="loadCarouselImages(3)">
				    	Remachadora orbital Bal-Tec<span class="icon medium_blue_arrow"></span>
				    </li>
				    <li data-target="#solutions-carousel" data-slide-to="4" ng-click="loadCarouselImages(4)">
				    	Sistema de visión y prueba de Hi-Pot para inspeccionar conector (Reactivación de equipo obsoleto)<span class="icon medium_blue_arrow"></span>
				    </li>
			  	</ol>
			</div><!-- .col-xs-12.col-md-4 -->
			<div class="col-xs-12 col-md-8">
				<div class="row success-navigation">
					<div class="col-xs-12">
						<!-- Controls -->
						<a href="#solutions-carousel" class="left carousel-control"  role="button" data-slide="prev" ng-click="carruselNav('prev')"> 
							Anterior
							<span class="icon carousel-prev"></span>
						</a>
						<a href="#solutions-carousel" class="right carousel-control"  role="button" data-slide="next" ng-click="carruselNav('next')">
							Siguiente
							<span class="icon carousel-next"></span>
						</a>
					</div>
				</div>
				<!-- Wrapper for slides -->
			<div id="success_content" class="carousel-inner col-xs-12 col-md-8" role="listbox">
			    <div class="item active">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Proyecto</span> Diseño y fabricación de máquina para corte de tarjeta de circuitos impresos</h3>
					<h4>Cliente</h4>
					<p>Bourns de Mexico, S. de R.L. de C.V.
					</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal"  ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-03.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-04.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(4)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pcb-05.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problema</h4>
					<ul class="bullet_list">
						<li><span>
							 Diseño de nueva máquina para corte de tarjeta de circuitos impresos, reduciendo la variación en el corte del circuito impreso según especificaciones del cliente de 45 y 50 piezas respectivamente. Funcionalidad amigable para 2 modelos diferentes. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solución</h4>
					<ul class="bullet_list">
						<li><span> El trabajo en equipo fue fundamental para elegir la mejor solución al problema de variación en el corte del circuito impreso. Nuestra especialidad en el diseño mecánico, eléctrico y ensamble fue un punto clave en esta solución, así como también  contando con el soporte del grupo Festo especialistas en sus productos de motion control lograron garantizar la factibilidad del proyecto. 
						</span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovación</h4>
					<ul class="bullet_list">
						<li><span>Actualización de partes obsoletas. </span></li>
						<li><span>Unificación de control, plc con motion control Festo para facilitar refacciones.</span></li>
						<li><span>Mejorar precisión mecánica implementando mesa para fijar los actuadores lineales eléctricos y eliminar ajustes manuales que tardaban hasta dos días.</span></li>
						<li><span>Se mejoró la precisión de corte del circuito impreso. </span></li>
						<li><span>Se redujo el tiempo de fabricación de la maquina de 1 año a 4 meses al decidir fabricar la maquina aquí en México y no en el extranjero.</span></li>
						<li><span>Codificación y mejora en los cambios rápidos de los herramentales y configuración en pantalla.</span></li>
						<li><span>Festo Pneumatics implemento los ajustes de posicionamiento utilizando  coordenadas de corte a través de recetas en la pantalla.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Características de la máquina</h4>
					<ul class="bullet_list">
						<li><span>Plc Festo</span></li>
						<li><span>Tipos de programación codesis</span></li>
						<li><span>Sliders lineares</span></li>
						<li><span>Pantalla</span></li>
						<li><span>Controladores</span></li>
						<li><span>Aspiradora</span></li>
						<li><span>Perfilería T-Slot</span></li>
						<li><span>Paro de emergencia Hard-wired</span></li>
						<li><span>Safety edge control para guarda abatible</span></li>
						<li><span>Grado de seguridad Categoria 4</span></li>
					</ul>
				</div>
			</div><!-- .row -->
		</div>
				</div>
			    <div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Proyecto</span> 
					Pick & place para ensamble de filtros en PCB</h3>
					<h4>Cliente</h4>
					<p>Bose Corporation, S.A. de C.V.</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-02.jpg" alt="" /></a></li><li>
							<a  href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-03.jpg" alt="" /></a></li><li>
							<a  href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-pick_place-04.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problema</h4>
					<ul class="bullet_list">
						<li><span>
							Diseño de máquina para la colocación de dos filtros en un circuito impreso en banda transportadora. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solución</h4>
					<ul class="bullet_list">
						<li><span>Tomando como ejemplo una estación obsoleta de la misma compañía, revisamos imágenes y video para conceptualizar y desarrollar la nueva máquina. Mediante el trabajo en conjunto con ingenieros de distintas áreas del proceso complementamos los requerimientos de la máquina en desarrollo, tales como: producción, mantenimiento, calidad, seguridad e ingeniería. El apoyo de Festo Pneumatics fue pieza clave para determinar el tipo de actuadores neumáticos a utilizar en este proyecto. Para la elaboración de esta nueva máquina,  consideramos el estándar neumático y de controles utilizado por la compañía Bosé para el desarrollo de nuevos equipos; aunado a lo anterior, nos basamos en las especificaciones del producto como posiciones, tolerancias, medidas, entre otras, considerando también la demanda de producción (takt time).
						</span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovación</h4>
					<ul class="bullet_list">
						<li><span>Selección de marcas de componentes de acuerdo a guía de construcción de nuevo equipo utilizado por Bose, suministradas por proveedores locales. </span></li>
						<li><span>Sistema electromecánico de dispensado de filtro por sistema de tensión mecánico y desplazado por stepper a una precisión de 0.2mm de acuerdo a especificación de diseño.</span></li>
						<li><span>Cambio de secuencia en pantalla.</span></li>
						<li><span>Elaboración de  duplicado de máquina para enviar a planta hermana de Malasia.</span></li>
						<li><span>Acoplamiento de conveyor Eunil Ecc-600 con dispensador de filtro IR. </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Características de la máquina</h4>
					<ul class="bullet_list">
						<li><span>Control PLC Allen Bradley compact L23. </span></li>
						<li><span>Pantalla touch screen Allen Bradley plus 600.</span></li>
						<li><span>Actuadores lineales neumáticos para posicionamiento de filtro IR, Festo.</span></li>
						<li><span>Paro de emergencia y Master Safety Relay para guarda cat 4 (Hard Wire).</span></li>
						<li><span>Stepper y control oriental motor familia OM-CRK/OM-EMP.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>	
				<div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Proyecto</span> Remachadora de terminales (mejora de equipo)</h3>
					<h4>Cliente</h4>
					<p>Autoliv Safety Technology de México S.A. de C.V.</p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_terminales-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_terminales-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_terminales-03.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problema</h4>
					<ul class="bullet_list">
						<li><span>
							Remachado de partes mecánicas para armado de retractor de cinturón de seguridad de acuerdo a sus especificaciones estándares de equipo y máquinas de referencia. Funcionalidad amigable para 3 modelos diferentes. 
						</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solución</h4>
					<ul class="bullet_list">
						<li><span>
							Después de una serie de juntas para determinar parámetros de remachado de acuerdo a los requerimientos del producto y conforme a las necesidades de la empresa, tomamos en consideración los estándares de proceso de producto interno -neumático y de controles-, así como diseños con especificaciones de la compañía. Se utilizó  diseño base de remachadora similar al 80&#37;, para adaptar el herramental al nuevo producto, programando la máquina de acuerdo a estándar, con adaptación al proceso secuencial  de desarrollo por especialistas de cliente.
							 
						</span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovación</h4>
					<ul class="bullet_list">
						<li><span>Primer proceso para doble remache.</span></li>
						<li><span>Diseño de cambio rápido para 3 modelos con codificaciones detección en pantalla.</span></li>
						<li><span>Implementación de detección de remache invertido y feltpad, cambio de ingeniería en el producto.</span></li>
						<li><span>Programación y configuración de sistemas analógicos, serial, Ethernet para garantizar las especificaciones y proceso de producto.</span></li>
						<li><span>Remplazo de guarda abatible frontal y continuas de seguridad cat. 4 para reducción de tiempo de ciclo de 14 a 11.5 segundos.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Características de la máquina</h4>
					<ul class="bullet_list">
						<li><span>Codificador lineal marca Balluf (familia: LVDT) para medir desplazamiento de prensa, por señal analógica.</span></li>
						<li><span>Prensa hidroneumática hiper cilíndrica de 20 toneladas controlada con válvula proporcional SMC familia ITV, controlada por salida analógica de PLC.</span></li>
						<li><span>Celda de carga marca Futek (familia: FHS) con capacidad para 50,000 lb, conectada a una entrada analógica del PLC.</span></li>
						<li><span>Medidor digital de contacto de alta precisión (familia: GT2) conectado a un módulo Ethernet PL-EP1 de Keyence.</span></li>
						<li><span>Escáner fijo marca Keyence (familia: SR-600). Conectado vía serial a PLC.</span></li>
						<li><span>Sensor de visión IV Keyence conectado vía Ethernet con PLC.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>
				<div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Proyecto</span> Remachadora Orbital Bal-Tec</h3>
					<h4>Cliente</h4>
					<p>Autoliv Safety technology de México, S.A. de C.V. </p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-03.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-04.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(4)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-remachadora_orbital-05.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problema</h4>
					<ul class="bullet_list">
						<li><span>
							Actualización de estándares de máquina remachadora orbital, así como la adhesión de 4 nuevos modelos  implementándolos en los tiempos libres de la línea de producción. Funcionalidad amigable para 6 modelos diferentes. 
						</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solución</h4>
					<ul class="bullet_list">
						<li><span>Tomando en cuenta los estándares neumático y de controles utilizados por Autoliv para el desarrollo de nuevos equipos, realizamos un estudio en el que se identificaron referencias eléctricas, neumáticas y mecánicas; a partir de  éste, se realizó un diseño preliminar con el cliente para confirmar lecciones aprendidas y oportunidades de mejora.  Ejecutamos también un plan de implementación de acuerdo a disponibilidad de la línea de producción. </span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovación</h4>
					<ul class="bullet_list">
						<li><span>Preparación de ensambles previos a la implementación para reducción de tiempos.</span></li>
						<li><span>Programación de PLC y pantalla antes de puesta en marcha para depuración.</span></li>
						<li><span>Cambio del método de medición de altura de remache mecánico por medidor digital de contacto de alta precisión.</span></li>
						<li><span>Adaptación de nido actual a cambio rápido, así como   el anexo de  2 nidos con cambios rápidos y codificación para los nuevos modelos y producción actual. </span></li>
						<li><span>Recableado y etiquetado.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Características de la máquina</h4>
					<ul class="bullet_list">
						<li><span>Remachadora orbital RN 331 ya existente en la máquina.</span></li>
						<li><span>Medidor digital de contacto de alta precisión familia GT2 conectado a un módulo Ethernet PL-EP1 keyence.</span></li>
						<li><span>Pantalla touch screen Allen Bradley plus 600.</span></li>
						<li><span>Control eléctrico PLC Allen Bradley Compact logic L32.</span></li>
						<li><span>Manifold neumático SMC familia VVQ2000</span></li>
						<li><span>Escáner fijo Keyence sr-610, trigger por señal discreta y envio de código por puerto señal.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>
				<div class="item">
							<div class="wrapp">
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h3><span class="small">Proyecto</span> Sistema de visión y prueba de Hi-Pot para inspeccionar conector (Reactivación de equipo obsoleto)</h3>
					<h4>Cliente</h4>
					<p>Autosplice México S. de R.L. de C.V. </p>
				</div>	
				<div class="col-xs-12 col-md-6">
					<ul class="solutions-gallery">
						<li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(0)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-01.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(1)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-02.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(2)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-03.jpg" alt="" /></a></li><li>
							<a href="#" data-toggle="modal" data-target="#solutions-modal" ng-click="setModalIndex(3)"><img src="/index.fcgi/static/images/solutions/thumbs/proyecto-sistema_vision-04.jpg" alt="" /></a></li>
					</ul>
				</div>
			</div><!-- .row -->
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Problema</h4>
					<ul class="bullet_list">
						<li><span>
							Implementación  de un nuevo modelo en máquina de prueba High Pot con sistema de visión para inspección de terminales </span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Solución</h4>
					<ul class="bullet_list">
						<li><span>Realizamos un diagnóstico previo en el que se revisaron los requerimientos para prueba de nuevo modelo y, en junta con ingenieros responsables de la máquina, examinamos lecciones aprendidas y oportunidades de mejora.  A partir de la instalación de la máquina, ejecutamos pruebas  diversas para depurar e implementar mejoras en el equipo. </span></li>
					</ul>
				</div>
			</div><!-- .row -->	
			<div class="row">
				<div class="col-xs-12 col-md-6 first">
					<h4>Innovación</h4>
					<ul class="bullet_list">
						<li><span>Agregamos indexador neumático de 2 posiciones para remplazar cilindro giratorio neumático y aumentar precisión en el giro. </span></li>
						<li><span>Relocalización de cámaras para ajustar nitidez al nuevo modelo.</span></li>
						<li><span>Añadimos prueba de High Pot con fixtura pogo pins.
						</span></li>
						<li><span>Utilizamos  mismo control eléctrico y neumático de estación. </span></li>
						<li><span>Fabricamos nidos para nuevos modelos y se fijaron para eliminar movimientos durante pruebas High Pot.</span></li>
						<li><span>Cambio de  tobogán de piezas buenas por un concepto deslizante.</span></li>
						<li><span>Recableado y etiquetado.</span></li>
						<li><span>Programación para secuencia de nuevo modelo PLC D06-R y pantalla touch C-MORE 6 in. Automation Direct.</span></li>
					</ul>	
				</div>
				<div class="col-xs-12 col-md-6">
					<h4>Características de la máquina</h4>
					<ul class="bullet_list">
						<li><span>Indexador neumático Festo familia DHTG.</span></li>
						<li><span>Implementación de medida High Pot.</span></li>
						<li><span>Sistema de visión keyence con doble cámara CV-200c.</span></li>
						<li><span>Control CV-3000</span></li>
						<li><span>PLC D06-R </span></li>
						<li><span>Pantalla touch C-MORE 6 in. de la marca Automation Direct.</span></li>
					</ul>
				</div>
			</div><!-- .row -->

		</div>
				</div>
		
			</div><!-- #success_content .col-xs-12.col-md8 -->
			
			<div class="row success-navigation last">
				<div class="col-xs-12">
					<!-- Controls -->
					<a class="left carousel-control" href="#solutions-carousel" role="button" data-slide="prev" ng-click="carruselNav('prev')"> 
						Anterior
						<span class="icon carousel-prev"></span>
					</a>
					<a class="right carousel-control" href="#solutions-carousel" role="button" data-slide="next" ng-click="carruselNav('next')">
						Siguiente
						<span class="icon carousel-next"></span>
					</a>
				</div>
			</div>
		</div ><!-- .row -->
	</div>			
</div>
<div id="solutions-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="solutions-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
		<div id="solutions-img-carousel" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		  	<li ng-repeat="img in bigImages" data-target="#solutions-img-carousel" data-slide-to="{[{$index}]}" ng-class="{active: $index == bigImageIndex}" ng-click="setModalIndex($index)"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div ng-repeat="img in bigImages" ng-class="{active: $index == bigImageIndex}" class="item">
		     	<img ng-src="{[{img}]}">
		    </div>
		  </div><!-- .carousel-inner -->
		</div><!-- #solutions-img-carousel -->	
      </div><!-- .modal-body -->
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- #solutions-modal -->
<div id="mobile_solutions">
	<a class="left carousel-control" href="#solutions-carousel" role="button" data-slide="prev" ng-click="carruselNav('prev')"> 
		Anterior
		<span class="icon carousel-prev"></span>
	</a>
	<a class="right carousel-control" href="#solutions-carousel" role="button" data-slide="next" ng-click="carruselNav('next')">
		Siguiente
		<span class="icon carousel-next"></span>
	</a>
	<span id="mob-view-menu">Ver historias</span>
</div>	
