<div class="about-us">
	<div id="main_banner">
		<h1><span class="hidden">Nosotros -</span>  <span class="one_line">Laboratorio de automatización</span> y desarrollo integral de maquinaria <span class="decor"></span></h1>
	</div>
	<div class="full_container">
		<span id="who-we-are"></span>
		<div id="quienes-somos" class="row">
			<div class="col-xs-12 col-md-6 light-blue_background">	
				<div class="wrapp">
					<h2 class="big_phrase"><strong>Evottek</strong> Automation Lab <span class="decor"></span></h2>
				</div>	
			</div>
			<div class="col-xs-12 col-md-6 icon_holder">
				<div class="wrapp">
					<p>
						<strong>Evottek</strong> es un laboratorio de automatización y desarrollo integral de maquinaria dirigida hacia la industria de la transformación.
					 </p>

					<p>Conformado por un equipo de ingenieros especializados con más de quince años de experiencia, Evottek surge en 2010 como un laboratorio de profesionales dedicados a la automatización,  diseño mecánico y maquinado al servicio de la industria en la transformación.</p>

					<p>En Evottek ofrecemos soluciones precisas a partir de los análisis elaborados por nuestros expertos, quienes proponen siempre la mejor respuesta a sus necesidades con la garantía y confianza de facilitar sus procesos industriales.</p>
				</div>
				<span class="icon lateral-shadow"></span>
			</div>
		</div><!-- .row -->	
		<div id="que-hacemos" class="row grid-holder">
			<span id="what-we-do"></span>
			<div class="col-xs-12 col-md-6 grid border-right rad-gradient-bottom-right">
				<div class="wrapp">
					<h2>Qué hacemos <em>Soluciones para facilitar procesos industriales</em></h2>
				</div>	
				<span class="decor"></span>
			</div>			
			<div class="col-xs-12 col-md-6 grid  rad-gradient-top-right">
				<div class="wrapp">
					<p>Somos una empresa dedicada a buscar soluciones para facilitar los procesos industriales al elaborar  o modificar maquinaria específica para mejorar la producción, eliminar tiempo o hacer más sencillo  el trabajo al operador.</p>

					<p>En Evottek proporcionamos un servicio completo en el que nuestros ingenieros pueden diseñar, programar, ensamblar a partir de un diseño externo, o apoyar en el maquinado de proyectos según lo requiera su empresa. </p>
				</div>
				<span class="decor"></span>
			</div>		
		</div><!-- .row -->
	</div><!-- .full_container -->
	<div id="experiencia-15">
		<p>Más de 15 años de experiencia en Diseño Mecánico y Controles <span class="decor"></span></p>
		<span class="icon right-blurry-arrow_xs"></span><span class="icon right-blurry-arrow"></span> 
	</div>
	<span id="mision-vision"></span><span id="mission-vision"></span>	
	<div class="full_container">
		<div id="vision" class="row light-blue_background">
			<div class="col-xs-12 col-md-6">
				<div class="wrapp">
					<h2>Visión</h2>
					<p>Establecernos como una de las empresas con más renombre por la calidad de nuestro servicio no sólo en la región de Baja California, crecer en  el noroeste de México así como en el sur de Estados Unidos para cubrir las necesidades en automatización en el sector industrial. </p>
				</div>	
			</div>
			<div class="col-xs-12 col-md-6 icon_holder">
				<img src="/index.fcgi/static/images/about-us_meassure.jpg" alt="1Cubrir las necesidades en automatización en el sector industrial" />
				<span class="icon right-giant-arrow"></span>
			</div>	
		</div>	
		<div id="mision" class="row light-blue_background">
			<div class="col-xs-12 col-md-6">
				<img src="/index.fcgi/static/images/about-us_balloon.jpg" alt="Proponer las mejores y más viables soluciones a las necesidades en Automatización y Maquinado." />
			</div>
			<div class="col-xs-12 col-md-6">	
				<div class="wrapp">
					<h2>Misión</h2>
					<p>Ser una empresa responsable, honesta y comprometida con nuestros clientes, proponiendo siempre las mejores y más viables soluciones a sus necesidades en Automatización y Maquinado. Para poder ofrecer los mejores servicios, nuestro equipo cuenta con actualizaciones constantes, manteniéndose a la vanguardia de la tecnología y sus procesos. 
					</p>
				</div>	
			</div>
		</div>
		<div id="bases" class="row">
			<div class="col-xs-12 col-md-6">	
				<div class="wrapp">
					<p class="big_phrase">Las bases de nuestros actos guían nuestros resultados</p>
				</div>	
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="wrapp">
					<p>Las bases de nuestros actos guían nuestros resultados: cada uno de los integrantes de Evottek se rige por la honestidad, responsabilidad de nuestras acciones, compromiso con nuestros clientes y los resultados deseados, celebrando el trabajo en equipo como pieza clave para el buen funcionamiento de nuestra empresa.</p>
				</div>	
			</div>
		</div>
		<span class="clients"></span>
		<div id="clientes" class="row">
			<div class="col-xs-12 col-md-5">	
				<div class="wrapp">
					<h2>Clientes</h2>
					<p>Nos orgullecemos colaborar en la industria automotriz, médica, de irrigación y electrónica, entre las que destacan las siguientes empresas:</p>
				</div>	
			</div>
			<div class="col-xs-12 col-md-7">
				<div class="wrapp">
					<ul id="light_client-list">
						<li id="cl-bose">Bose <span class="icon l-bose"></span></li>
						<li id="cl-autosplice">Autosplice <span class="icon l-autosplice"></span></li>
						<li id="cl-harman">HARMAN <span class="icon l-harman"></span></li>
						<li id="cl-autoliv">Autoliv <span class="icon l-autoliv"></span></li>
						<li id="cl-jbl">JBL by HARMAN <span class="icon l-jbl"></span></li>
						<li id="cl-rockwell">Rockwell Automation <span class="icon l-rockwell"></span></li>
						<li id="cl-power">Power PS Sonic <span class="icon l-power-pos-sonic"></span></li>
						<li id="cl-gst">GST Automotive Safety <span class="icon l-gst"></span></li>
						<li id="cl-hubbell">HUBBELL <span class="icon l-hubbell"></span></li>
						<li id="cl-bourns">BOURNS <span class="icon l-bourns"></span></li>
						<li id="cl-cst">CST - Custom Sensors and Technologies <span class="icon l-cst"></span></li>
					</ul>
				</div>	
			</div>
		</div>
	</div>			
</div>	
		